<h1 id="tableLabel">Combat</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!particpants?.length"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="particpants.length">
  <thead>
    <tr>
      <th>Name</th>
      <th>Initiative</th>
      <th>AC</th>
      <th>HP</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let particpant of particpants">
        <td>{{ particpant.name }}</td>
        <td>{{ particpant.initiative }}</td>
        <td>{{ particpant.ac }}</td>
        <td>{{ particpant.currentHp }}</td>
    </tr>
  </tbody>
</table>

